<!DOCTYPE html>
<html lang="en">
<head>
</head>
  <body>
    <main>
      <div>
        <h1>Eureka Server</h1>
        <p>Show</p>
      </div>

      <div>
        <ul>
          <% lights.forEach(function(light) {  %>
            <li>
              <form action="/<%= light %>" method="post">
                <input type="submit" value="<%= light %>">
              </form>
            </li>
          <% }) %>
        </ul>
      </div>
    </main>
  </body>
</html>
